BODY {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #e8e8e8; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Microsoft YaHei"; COLOR: #333333; FONT-SIZE: 0.87em; PADDING-TOP: 0px
}
A {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #dd1111; TEXT-DECORATION: none
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; MAX-WIDTH: 100%; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.clear {
	CLEAR: both
}
LI {
	LIST-STYLE-TYPE: none
}
.bgtu {
	BACKGROUND-IMAGE: url("shuangren-1.jpg"/*tpa=http://103.53.126.174:18080/shuangren-1.jpg*//*tpa=http://180.97.221.50:1888/images/shuangren.jpg*/); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 0px; HEIGHT: 280px; OVERFLOW: hidden
}
.cneet {
	BACKGROUND-IMAGE: url("dian.png"/*tpa=http://103.53.126.174:18080/dian.png*//*tpa=http://180.97.221.50:1888/images/http://103.53.126.174:18080/dian.png*/); BORDER-BOTTOM: #c3c3c3 5px solid; BORDER-LEFT: #c3c3c3 5px solid; PADDING-BOTTOM: 20px; BACKGROUND-COLOR: #ffffff; MARGIN: 0px auto; PADDING-LEFT: 20px; WIDTH: 980px; PADDING-RIGHT: 20px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: 735px 180px; BORDER-TOP: #c3c3c3 5px solid; BORDER-RIGHT: #c3c3c3 5px solid; PADDING-TOP: 0px
}
.title {
	BORDER-BOTTOM: #dddddd 2px solid; PADDING-BOTTOM: 15px; LINE-HEIGHT: 2; BACKGROUND-COLOR: #ffffff; FONT-SIZE: 32px; PADDING-TOP: 20px
}
.title SPAN {
	COLOR: #666666; MARGIN-LEFT: 15px; FONT-SIZE: 14px; FONT-WEIGHT: 300
}
.red {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 2; BACKGROUND-COLOR: #ffffff; COLOR: #ff0000; FONT-SIZE: 16px; FONT-WEIGHT: 300; PADDING-TOP: 20px
}
.cneet .left {
	LINE-HEIGHT: 1.6; WIDTH: 710px; FLOAT: left; OVERFLOW: hidden
}
.cneet .rigth {
	WIDTH: 250px; FLOAT: right; OVERFLOW: hidden
}
.bt SPAN {
	BORDER-BOTTOM: #c3c3c3 3px solid; BORDER-LEFT: #c3c3c3 3px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 30px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; HEIGHT: 30px; COLOR: #000000; FONT-SIZE: 16px; BORDER-TOP: #c3c3c3 3px solid; FONT-WEIGHT: 600; BORDER-RIGHT: #c3c3c3 3px solid; PADDING-TOP: 5px
}
.bt1 A {
	BORDER-BOTTOM: #7f7f7f 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #7f7f7f 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; WIDTH: 224px; PADDING-RIGHT: 10px; DISPLAY: block; HEIGHT: 30px; COLOR: #ff0000; FONT-SIZE: 16px; BORDER-TOP: #7f7f7f 1px solid; FONT-WEIGHT: 600; BORDER-RIGHT: #7f7f7f 1px solid; PADDING-TOP: 5px
}
.bt1 A:hover {
	BACKGROUND: #f1f1f1
}
.bt {
	BORDER-BOTTOM: #dddddd 1px solid; LINE-HEIGHT: 2; MARGIN-TOP: 15px; MARGIN-BOTTOM: 5px; FONT-SIZE: 18px
}
.bt1 {
	BORDER-BOTTOM: #dddddd 1px solid; LINE-HEIGHT: 2; MARGIN-TOP: 15px; MARGIN-BOTTOM: 5px; FONT-SIZE: 18px
}
.rigth DL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
.rigth DT {
	LINE-HEIGHT: 1.8; FONT-SIZE: 15px
}
.foot {
	TEXT-ALIGN: center; PADDING-BOTTOM: 15px; LINE-HEIGHT: 2; PADDING-TOP: 15px
}
